
/** ADD YOUR AWESOME CODES HERE **/
.navbar-brand img.logo{
    max-height: 100px;
}

nav.navbar.bootsnav ul.nav > li > a{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

footer,
.footer-main {
    width: 100%;
    background: #010101;
    overflow: hidden;
}

.footer-main {
    padding: 70px 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.footer-inner {
    max-width: 1320px;
}

.footer-logo {
    max-height: 58px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.footer-top-box h3::before {
    border-bottom: 2px solid #3EA6FF;
    width: 70%;
}

.footer-organizers .row,
.footer-support .row {
    margin-left: -8px;
    margin-right: -8px;
}

.footer-organizers .col,
.footer-support .col {
    padding-left: 8px;
    padding-right: 8px;
}
