
/** ADD YOUR AWESOME CODES HERE **/
.navbar-brand img.logo{
    max-height: 100px;
}

nav.navbar.bootsnav ul.nav > li > a{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.footer-main img {
    max-height: 80px;
    width: auto;
}
